*{
  box-sizing: border-box;
}
html,body {
  margin: 0;
  padding:0 ;
  overflow: hidden;
}
.main {
  width: 100%;
  height: 100%;
}
.monitor {
  position: fixed;
  width: 200px;
  height: 200px;
  right: 0;
  top:0;
  z-index:9999;
  

}
.list-iem-wob  {
  display: flex;
  width: 100%;
  border: 1px solid green;
}


.canvas {
  position: fixed !important;
  top: 0px;
  left: 0px;
  width: 100vw !important;
  height: 100vh !important;
}

.monitor > * {
  font-size: 10px;
}
.monitor > div:nth-child(n) {
  display: flex;
    align-items: center;
    border: 1px solid gray;
    justify-content: space-evenly;
    height: 30px;
    background-color: blanchedalmond;
}
.monitor > div:nth-child(n) span {
  width: 50px;
  overflow: hidden;
}
#display-3-all {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: 2;
  background: transparent !important;
}
section {
  max-width: calc(100vw - 72px);
  margin: 0 auto;
}

.main-home .banner {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.main-home .banner > div:nth-child(odd) {

  position: relative;
  /* z-index: 999;
  background: white; */
}
.main-home .banner .head {
  height: 200px;
  
  z-index: 999;
}
.main-home .banner .viewCanvasBanner {
  position: relative;
  height: calc(100vh - 200px - 100px);
  max-width: 1440px;
  border-radius: 20px;
  overflow: hidden;
  margin: 0 auto;
  border:2px solid green;
  z-index: 999;
  

}

.main-home .banner .detail {
  height: 100px;
}


.main-home .banner .head{
  display: flex;
 align-items: center;

}
.main-home .banner .head h1 {
  font-size: 42px;
  width: 300px;
}
.main-home .banner .head p {
  font-size: 25px;
  width: 300px;
  text-align: c;
}
.main-home .banner .detail {
  display: flex;
 align-items: center;
  justify-content: space-between;
  
}

/* intro */
.intro-vid {
  height: 200vh;
  width: 100%;
  position: relative;
}
.intro-vid  .head {
  font-size: 72px;
    max-width: 86%;
    height: 50vh;
    display: flex;
    align-items: center;
}
.intro-vid  .detail {
  width: 42vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  float: right;
}


/* footer */
#footer {
  width: 100vw;
  height: 100vh;
 border: 1px solid gray;
}
